*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    max-width: 1280px;
    margin: auto;
    display: flex;
}
.card{
    border: 1px solid skyblue;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(192, 230, 255);
    cursor: pointer;
}

.card-name{
    font-size: 16px;
    font-family: 'Andika New Basic', sans-serif;
    font-weight: 700;
    font-style: italic;

}

.category-container{
    margin: auto;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 50px;

}

@media (min-width: 1280px) {
    /* *{
        background-color: red;
    } */

    .card-img{
        width: 256px;
        height: 203px;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }